<%- include('header'); -%>

<div>
 <form action="/home" method="post">

    <h1>Welcome home: It's a pleasure to have you here with us.</h1>
    <p>
        Please take a sit and make yourself home.
    </p>
 </form>
<a href="/logout" role="button">logout</a></div>