<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/css/style.css" rel="stylesheet" href="style.css">
    <title>Document</title>
</head>
<body>
    <div >
        <form action="" class="login-form">
            <div class="login-input">
                <div>
                    <label for="email">email</label><br>
                    <input type="text" id="email" size="50" width="50">
                </div>
                <div>
                    <label for="password">password</label><br>
                    <input type="password" id="password" size="50" width="50">
                </div>
            </div>
        </form>
    </div>
    
</body>
</html>