<%- include("header"); -%>

<div>
    <h1>Welcome the the products pages</h1>
    <p>this is the avaible products in our store</p>
    <span>enjoy your shopping...!</span>
    <small>This is the small</small>
</div>