
.input-for-login{
    font-size: 15px;
    padding: 3.5%;
    /* padding-bottom: 30px;
    margin-left: 50px; */
    width: 110%;
    
    /* height: 10%; */
}
.login-input{
    border: 2px solid;
    padding: 5% 15% 3% 15%;
    /* text-align: center; */
    margin: 0 20% 0 15%;
    transition: 10s;
  
}
.login-input:hover{
    border: 5px solid;
    background-color: aquamarine;
    
}
.login-form{
    padding: 5%;
    /* margin-top: 20%; */
text-align: center;
}
.login-button{
    border: 1px solid;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 15px;
    border-radius: 90%;
    margin-top: 10%;
    /* padding: 10px 120px 10px 120px; */
    width: 60%;
    /* height: 40%; */
    padding: 2%;
}
.login{
   margin-top: 5%;
}

.login-button:hover{
background-color: antiquewhite;
}
.regitration-firstname{
    
    width: 40%;
   padding-bottom: 20px;
    display: inline-block;
    /* background-color: aqua; */

}
.input-for-fullname{
    margin: 5px;
}
#lastName{
    margin: 2px;
    display: inline-block;
}
.regitration-lastname{
    width: 40%;
    margin: 0 0 0 2%;
    padding-bottom: 20px;
    /* background-color: rosybrown; */
    display: inline-block;
}
.register{
    border: 2px solid;
    text-align: center;
    padding: 3% 5%;
    margin: 10% 15% 0 15%;
}
.register-form{
    padding: 5px;
}
.register-ep{
    margin: 20px;
}
.input-for-registration{
   padding: 3%;
    width: 75%;
}
.register-button{
    font-family: fantasy;
    font-size: 20px;
    padding: 2% 20%;
    margin-top: 10px;
}