
.login-input{
    background-color: aqua;
    padding: 5% 15% 15% 15%;
    text-align: center;
    margin: 0 20% 0 15%;
  
}
.login-form{
    padding: 5%;
    background-color: red;
    /* margin-top: 20%; */
text-align: center;
}